<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configuração</title>
</head>
<body>
    <!-- alterar imagem de perfil 

     alterar nome de usuario -->
     
    <h2>Configurações</h2>
    <form action="/perfil" method="POST" enctype="multipart/form-data">
        <label for="foto">Trocar de Foto de Perfil:</label>
        <input type="file" name="foto" id="foto">
        <button type="submit">Salvar</button>
      </form>
      
</body>
</html>