<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>configuração</title>
</head>
<body>
   
    <h2>Configurações</h2>
    <form action="/atualizar-foto" method="POST" enctype="multipart/form-data">
      <label for="foto">Trocar de Foto de Perfil:</label>
      <input type="file" name="foto" id="foto">
      <br>
      <label for="nome">Alterar Nome de Usuário:</label>
      <input type="text" name="nome" id="nome" value="<%= usuario.nome %>">
      <br>
      <button type="submit">Salvar</button>
    </form>
    

      
</body>



</html>